{% extends 'base.html.jinja' %}

{% block content %}
    <h1>List</h1>
    <div hx-ext="ws,debug" ws-connect="/ws">
        <ul id="items">

        </ul>
        <form id="form" ws-send>

        </form>
    </div>
{% endblock content %}